.intro-text {
    &__body {
        font-weight: 400;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 1.20px;
        
        @screen md{
            font-size: 38px;
            line-height: 140%; /* 53.2px */
            letter-spacing: 1.52px;
        }
    }
}
