// Add any custom base CSS can go here
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

// Foundation
// =≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠
html {
  @apply antialiased;
  font-size: 15px;
  text-rendering: optimizeLegibility;

  @screen md {
    font-size: 18px;
  }
}

html, body {
  width: 100vw;
  height: 100vh;
}

@layer base {
  h1 {
    font-size: 70px;
    letter-spacing: 9.45px;
  }
  h2 {
    font-size: 56px;
    font-weight: 400;
    line-height: 110%; /* 61.6px */
    letter-spacing: 2.24px;
  }
  h4 {
    font-size: 38px;
    font-weight: 400;
    line-height: 100%; /* 38px */
    letter-spacing: 1.52px;
  }
}
